<%= form_for(@artist) do |f| %>
<div class="form-group">
<!-- <% if @artist.errors.any? %>
    <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this record from being saved:</h2>
    <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>  -->

  <%= f.label :name %>
  <div class="form_field"><%= f.text_field :name %></div>

  <%= f.label :image_path %>
  <div class="form_field"><%= f.text_field :image_path %></div>

  <button type="submit" class="btn btn-success">Submit Artist</button>
<% end %>
