<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<%= stylesheet_link_tag "style_bitches" %>
<!DOCTYPE html>
<html>
<head>
	<title>MixMaster</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse">
 <a class="navbar-brand mixmaster" href="/">MixMaster</a>
	<ul class="navs pull-right">
	<li class="btn butt-content"><%= link_to "Playlists", playlists_path %></li>
	<li class="btn butt-content"><%= link_to "Artists", artists_path %></li>
	</ul>
</div>

	<p class="flash notice-styling"><%= flash.notice %></p>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
